table{
 color: #fff;
 margin: 100px 0;
}


td{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 114%;
    color: #fff;
    padding: 40px;
    
}

th{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;  
    padding: 40px;

}
