:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Open Sans", sans-serif;
    --font3: "Inter", sans-serif;
  }

body{
    background-image: url(../images/main-page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 100px;
    height: 100vh;
}

.nav-links{
    display: flex;
}

.header-link{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 20px;
    line-height: 114%;
    color: #fff;
    margin: 0 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-main-block{
    margin-left: 200px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 540px;
}

.header-title{
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    color: #fff;
    width: 540px;
}

.header-desc{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 128%;
    text-align: center;
    color: #fff;
    width: 360px;
}

.header-btn{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    border-radius: 50px;
    width: 221px;
    height: 55px;
    background: #0db296;
}

main{
    padding:  0 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categories-block{
    display: flex;
    gap: 50px;
}

.category{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    width: 200px;
    height: 60px;
    background: #fff;
}

.category-name{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #aaa;    
}

hr{
    border: 3px solid #fff;
    border-radius: 10px;
    width: 100%;
    height: 0px;
}

.catalog{
    display: flex;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    border-radius: 25px;
    padding: 10px 50px;

}

.card-img{
    height: 400px;
}

.card-subtitle{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 114%;
    color: #0db295;    
}

.card-title{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 114%;
    color: #0e1514;    
}

.buy-block{
    display: flex;
    justify-content: space-between;

}

.card-price{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 114%;
    color: #aaa;    
}

.add-to-card-img{
    border-radius: 50px;
    padding: 15px;
    background: #0db296;
}

/* footer */


.footer-main{
    display: flex;
    padding: 20px 100px ;
    justify-content: center;
    gap: 100px;
}

.footer-elem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    line-height: 326%;
    letter-spacing: 0.05em;
    color: #fff;
}

.footer-desc{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 173%;
    letter-spacing: 0.04em;
    color: #fff;
    width: 250px;
}

.footer-img-links-block{
    display: flex;
    gap: 20px;
}


.footer-img-link{
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
}
.footer-img-link img{
    height: 20px;
    width: 20px;
}
.footer-link{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.04em;
    color: #fff;
}

.copyright-block{
    display: flex;
    justify-content: center;
    background-color: #0DB296;
    padding: 15px;
}

.copyright-text{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 273%;
    letter-spacing: 0.04em;
    color: #dfdfdf;
}